.graph-node {
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    text-transform: none !important;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.graph-node.selected {
    filter: brightness(0.90);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.graph-node.selected:not(:only-child) {
    filter: brightness(0.90);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 122, 204, 0.6);
}

.graph-node.target {
    filter: brightness(1.1);
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 122, 204, 0.6);
}

.highlight-node {
    max-width: 150px;
    font-weight: bold;
    padding: 15px;
}

.overview-node {
    max-width: 150px;
    font-weight: bold;
    padding: 15px;
}

.theme-node {
    max-width: 300px;
    font-weight: bold;
    padding: 20px;
    border-width: 2px;
}

.connection-handle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}