.graph-node {
    border-radius: 5px;
    color: black;
    text-transform: none !important;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    hyphens: auto;
    word-break: break-word;
}

.graph-node.selected {
    border: 3px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.graph-node.selected:not(:only-child) {
    border: 3px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 122, 204, 0.6);
}

.graph-node.target {
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 122, 204, 0.6);
}

.highlight-node {
    max-width: 150px;
    padding: 15px;
    border: 1.5px solid black;
    filter: saturate(0.8) brightness(1.25);
}

.overview-node {
    max-width: 150px;
    font-weight: bold;
    padding: 15px;
}

.theme-node {
    min-width: 350px;
    max-width: 500px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid black;
    filter: saturate(2) contrast(1.2);
}

.connection-handle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
}