.NavBar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  color: black;
  padding: calc(5px + 2rem);
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  letter-spacing: 0.69px;
}

.NavBar .reads-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.NavBar .logo-text {
  display: flex;
  align-items: center;
}

.NavBar .logo-text h3 {
  letter-spacing: 7px;
  font-size: 26px;
  font-weight: 600;
  margin-left: 4px;
  padding-bottom: 1px;
}

.NavBar .nav-read-btn {
  text-transform: none;
  color: black;
  border-width: 3px;
  border-style: solid;
  font-size: 16px;
  min-width: 140px;
  justify-content: space-between;
  
  &:focus {
    outline: none;
  }
}